:root {
    --bg: #141414;
    --card: #1f1f1f;
    --primary: #e50914;
    --text: #ffffff;
    --text-light: #b3b3b3;
    --border: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./img/marmorizado.jpg");
    font-family: Arial, sans-serif;
    color: var(--text);
}

.topo {
    text-align: center;
}

.imagem-topo {
    width: 100%;
    
    object-fit: cover;
}

/* CONTEÚDO */
.conteudo-topo {
    padding: 20px;
}

.conteudo-topo p {
    color: var(--text-light);
    margin-bottom: 20px;
     margin-top: 20px;
}

/* BUSCA */
.caixa-busca {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.caixa-busca input {
    padding: 10px;
    width: 250px;
    border: 1px solid var(--border);
    background: #000;
    color: var(--text);
}

.caixa-busca button {
    padding: 10px;
    background: var(--primary);
    color: white;
    border: none;
    cursor: pointer;
}

/* CARDS */
#lista-cards {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card-serie {
    background: var(--card);
    border: 2px solid red;
    border-radius: 12px;
    width: 200px;
    padding: 10px;
    text-align: center;
}

.card-serie img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-serie h3 {
    margin: 10px 0;
    font-size: 1rem;
}

.card-serie p {
    font-size: 0.85rem;
    color: var(--text-light);
}

.card-serie button {
    margin-top: 10px;
    padding: 6px;
    background: var(--primary);
    color: white;
    border: none;
    cursor: pointer;
}

/* RESPONSIVO */
@media (max-width: 600px) {
    .caixa-busca {
        flex-direction: column;
    }

    .caixa-busca input {
        width: 100%;
    }

    .imagem-topo {
        height: 200px;
    }
}